body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #373637;
}
h1,
h2,
h3,
h4,
h6,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0px;
}
.city-filter {
  position: relative;
}
.city-filter .city-list {
  background: white;
  display: none;
  position: absolute;
}
.menu ul {
  overflow: hidden;
}
.menu li {
  display: block;
  float: left;
  list-style: none;
}
